<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kpu.Eureka">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="kr.ac.kpu.Eureka.Data.Global">
        <activity android:name=".Main.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"/>s
        <activity android:name="kr.ac.kpu.Eureka.Tab.TabWithNotificationMarkActivity">
        </activity>
        <activity android:name="kr.ac.kpu.Eureka.RoomDetailAcivity"
            android:label="@string/room_detail_name"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity android:name="kr.ac.kpu.Eureka.Main.SignupActivity">
        </activity>
        <activity android:name=".CreateRoom"
            android:label="택시방 생성"/>
        <activity android:name="kr.ac.kpu.Eureka.Inroom.inroom_activity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".Settings.ProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>

</manifest>
